/* src/components/HeroSection.css */

.hero-section {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../../public/2108-min.jpg') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  overflow: hidden; /* Prevent potential overflow issues */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
  z-index: 2; /* Content is above overlay */
  max-width: 800px;
  text-align: center;
  padding: 20px;
  background: rgba(249, 249, 249, 0.8); /* Slightly more opaque for better text readability */
  border-radius: 20px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease-in-out 0.4s forwards; /* Fade in with a delay */
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    transform: translateY(20px); /* Start below */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at normal position */
    opacity: 1;
  }
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cta-btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #fbb034;
  color: #333;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.cta-btn:hover {
  background-color: #d49428;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Increase shadow on hover */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .cta-btn {
    padding: 12px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-btn {
    padding: 10px 18px;
    font-size: 0.9rem;
  }
}
